.hukidashi
  background no-repeat center/100% 100% url(imgPath+"/common/hukidashi_big.svg")
  margin 0 auto
  max-width 40rem
  padding 4.5rem 1rem 3.5rem
  width 90vw

.hukidashi--reverse
  background no-repeat center/100% 100% url(imgPath+"/common/hukidashi_big_reverse.svg")
  margin 0 auto
  max-width 40rem
  padding 4.5rem 1rem 3.5rem
  width 90vw
