.btn--box
  border .15rem solid c-txt-1
  padding .5rem 1rem .5rem 2rem
  & .material-symbols-outlined
    font-size 3rem
    padding-left: 2rem
    vertical-align -1rem
  &:hover
    background-color c-txt-1
    color c-bg-1
