.ttl--1
  font-family: f-ttl, sans-serif
  font-size: 130%
  font-weight: inherit

.ttl--2
  font-family: f-ttl, sans-serif
  font-size: 110%
  font-weight: inherit

+ls()
  .ttl--1
    font-size: 200%
  .ttl--2
    font-size: 180%
