.ttl--1
  font-size: 170%
  font-weight: inherit

.ttl--2
  align-items: center;
  display: flex
  font-size: 80%
  font-weight: inherit
  justify-content: center;
  &:before
    border-top: 0.1rem solid
    content: ""
    margin-right: 1em
    width: 1em
  &:after
    border-top: 0.1rem solid
    content: ""
    margin-left: 1em
    width: 1em

+ls()
  .ttl--1
    font-size: 200%
  .ttl--2
    font-size: 180%
  .ttl--3
    font-size: 150%
