- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'https://nazonosono.com/'
- var themeColor = '#EBCD37'
- var siteName = '上方謎の園'
- var logoAlt = 'ロゴの名前'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '',
      name : 'トップページ',
      title : 'トップページ｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    about : {
      url : 'about.html',
      canonicalUrl : 'about.html',
      name : '上方謎の園について',
      title : '上方謎の園について｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    access : {
      url : 'access.html',
      canonicalUrl : 'access.html',
      name : 'アクセス',
      title : 'アクセス｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    group : {
      url : 'group.html',
      canonicalUrl : 'group.html',
      name : '出展団体',
      title : '出展団体｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    timetable : {
      url : 'timetable.html',
      canonicalUrl : 'timetable.html',
      name : 'タイムテーブル',
      title : 'タイムテーブル｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    ticket : {
      url : 'ticket.html',
      canonicalUrl : 'ticket.html',
      name : 'チケット情報',
      title : 'チケット情報｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    }
  }
