- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'https://xxx/'
- var themeColor = '#ffffff'
- var siteName = 'nazonosono'
- var logoAlt = ''

-
  var pages = {
    top : {
      url : 'index.html',
      name : 'トップページ',
      title : 'トップページ｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website' 
    },
    access : {
      url : 'access.html',
      name : 'アクセス',
      title : 'アクセス｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website' 
    },
    contact : {
      url : 'contact.html',
      name : 'お問い合わせ',
      title : 'お問い合わせ｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    timetable : {
      url : 'timetable.html',
      name : 'タイムテーブル',
      title : 'タイムテーブル｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website'
    },
    ticket : {
      url : 'ticket.html',
      name : 'チケット情報',
      title : 'チケット情報｜'+siteName,
      description : '',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '',
      siteType : 'website' 
    }   
  }
