- var imgPath = 'img'
- var cssPath = 'css'
- var jsPath = 'js'
- var domain = 'https://nazonosono.com'
- var themeColor = '#EBCD37'
- var siteName = '謎解きフェス「上方謎の園」'
- var logoAlt = 'ロゴの名前'

-
  var pages = {
    top : {
      url : 'index.html',
      canonicalUrl : '/',
      name : 'トップページ',
      title : 'トップページ｜'+siteName,
      description : '学生主催の謎解きフェス「上方謎の園」のトップページです。学生による謎解き制作の文化を未来に継承すべく、8/20(土)に三宮コンベンションセンターにて開催。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '上方謎の園',
      siteType : 'website'
    },
    about : {
      url : 'about.html',
      canonicalUrl : '/about.html',
      name : '上方謎の園とは',
      title : '上方謎の園とは｜'+siteName,
      description : '学生主催の謎解きフェス「上方謎の園」のaboutページです。主に上方謎の園プロジェクトについての概要と、イベント運営陣についてご紹介しています。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '上方謎の園',
      siteType : 'website'
    },
    access : {
      url : 'access.html',
      canonicalUrl : '/access.html',
      name : 'アクセス',
      title : 'アクセス｜'+siteName,
      description : '学生主催の謎解きフェス「上方謎の園」のアクセスページです。主にイベント会場である三宮コンベンションセンターの所在地、最寄り駅などをご説明しています。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '上方謎の園',
      siteType : 'website'
    },
    group : {
      url : 'group.html',
      canonicalUrl : '/group.html',
      name : '出展団体',
      title : '出展団体｜'+siteName,
      description : '学生主催の謎解きフェス「上方謎の園」の出展団体ページです。主に上方謎の園で出展する各学生謎制作団体についてご説明しています。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '上方謎の園',
      siteType : 'website'
    },
    timetable : {
      url : 'timetable.html',
      canonicalUrl : '/timetable.html',
      name : 'タイムテーブル',
      title : 'タイムテーブル｜'+siteName,
      description : '当日のタイムテーブルをご紹介します。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '上方謎の園',
      siteType : 'website'
    },
    ticket : {
      url : 'ticket.html',
      canonicalUrl : '/ticket.html',
      name : 'チケット情報',
      title : 'チケット情報｜'+siteName,
      description : '公演チケット情報についてご説明します。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '上方謎の園',
      siteType : 'website'
    },
    maintenance : {
      url : 'maintenance.html',
      canonicalUrl : '/maintenance.html',
      name : 'メンテナンス中',
      title : 'メンテナンス中｜'+siteName,
      description : '学生主催の謎解きフェス「上方謎の園」のホームページはただ今メンテナンス中です。',
      image : imgPath+'/common/ogp.jpg',
      imageAlt : '上方謎の園',
      siteType : 'website'
    }
  }
