extends _layout

block vars
  include _config
  - var key = "about"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/common/logo_about.png" alt="about")
  section(class="ttl1")
    h1.ttl--1 上方謎の園とは
    section(class="ttl2")
      span.ttl--2 about
