extends _layout

block vars
  include _config
  - var key = "access"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/access/logo_access.png" alt="access")
  section
    h1.ttl--1 アクセス
    span.ttl--2 access
    section.accessContents
      h2.ttl--3 開催地
      p(class="accessContents__sentence") 三宮コンベンションセンター
    section.accessContents
      h2.ttl--3 所在地
      p(class="accessContents__sentence") 
        | 〒651-0084<br>
        | 兵庫県神戸市中央区磯辺通2-2-10<br>
        | ワンノットトレーズビル5F
    section.accessContents
      h2.ttl--3 最寄り駅
      p(class="accessContents__sentence") 
        | 各線三宮駅 徒歩で約8分<br>
        | 貿易センター駅 徒歩約1分<br><br>
      a(class="btn--box" href="https://oneknot-scc.jp/facility") 会場のHPを見る
        span(class="material-symbols-outlined") play_arrow
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.5981449568185!2d135.19721931559388!3d34.69009039129343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60008ef6c20d1981%3A0x2d07be2c9f4922a2!2z5LiJ5a6u44Kz44Oz44OZ44Oz44K344On44Oz44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1654536067596!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
