extends _layout

block vars
  include _config
  - var key = "group"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/common/question.svg" alt="はてな")
  section(class="ttl1")
    h1.ttl--1 出展団体
    section(class="ttl2")
      h2.ttl--2 GROUP
  div.groupContents
    p(class="groupContents__number") 
      | No.1
    p(class="groupContents__groupName") 
      span.line AnotherVision
    img(class="groupContents__groupIcon" src=imgPath+"/common/logo.png" alt="AnotherVision")
    div(class="hukidashi")
      p(class="groupContents__introduction")
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。<br>
        | ここに120字くらいの団体紹介文が入ります。
  div.groupContents
      p(class="groupContents__number") 
        | No.2
      p(class="groupContents__groupName") 
        span.line ENIG-ROID
      img(class="groupContents__groupIcon" src=imgPath+"/common/logo.png" alt="ENIG-ROID")
      div(class="hukidashi")
        p(class="groupContents__introduction")
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。<br>
          | ここに120字くらいの団体紹介文が入ります。
