extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div.hero
    p(class="hero__msg")
      span.hero__msg--1.line 上方謎の園を通して<br>
      span.hero__msg--2.line 謎解きの文化を未来に継承する
    img(class="hero__sensu" src=imgPath+"/top/sensu.png" alt="扇子")
    img(class="hero__logoLarge" src=imgPath+"/top/logo_large.png" alt="上方謎の園ロゴ")
    div.hero__scroll 
      p.hero__scroll__txt
        | SCROLL
      div.hero__scroll__triangle 
  section(class="topAbout")
    img(class="topIcon" src=imgPath+"/common/logo_about.png" alt="about")
    h1.ttl--1 上方謎の園とは
    span.ttl--2 ABOUT
    div(class="hukidashi")
      p(class="topDesc")
        | 新型コロナの影響により<br>
        span.line 学生による謎解き制作の文化が<br>
        | 失われつつあります。<br><br>
        | このような状況下で<br>
        span.line 学生による謎解きイベントの<br>
        span.line 灯を絶やしたくない！<br><br>
        | そんな熱い想いを持った学生たちが集まり<br>
        | 上方謎の園プロジェクトを発足しました。
      a(class="btn--box" href="about.html") もっと読む
        span(class="material-symbols-outlined") play_arrow
  section(class="topCloudFunding")
    img(class="topIcon" src=imgPath+"/common/logo_cloudfunding.png" alt="cloudfunding")
    h1.ttl--1 クラウドファンディング
    span.ttl--2 CLOUD FUNDING
    div(class="hukidashi")
      p(class="topDesc")
        | 本イベントは学生主催のため、<br>
        | イベント開催に必要な資金を全て<br>
        span.line クラウドファンディング 
        | より調達します。<br><br>
        | イベント開催の条件は、<br>
        span.line 7月17日までに70万円を調達すること。<br><br>
        | 各種リターンやストレッチゴールなどは<br>
        | 以下のボタンからご確認いただけます。<br>
        | どうぞ皆様からの温かいご支援の程<br>
        | よろしくお願いいたします。<br>
      a(class="btn--box" href="https://kibidango.com/2155") 詳細を見る
        span(class="material-symbols-outlined") play_arrow      
