extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  img(src=imgPath+"/"+key+"/hero.jpg" alt="ヒーロー画像")
  section(class="topAbout")
    h2.ttl--2 ABOUT
    p(class="topAbout__greetingMsg") 上方謎の園を通して<br>
      | 謎解きの文化を未来に継承する
    img(class="top__logo" src=imgPath+"/common/logo.png" alt="ロゴ")
    p(class="top__desc") 新型コロナの影響により<br>
      | 学生による謎解き制作の文化が<br>
      | 失われつつあります。
    p(class="topAbout__desc") 謎解き界隈の未来のためにも、何とか<br>
      | 学生主催の謎解きイベントを復活させたい。<br>
      | そんな熱い想いを持った学生たちが集まり<br>
      | 上方謎の園プロジェクトを発足しました。
    a(class="btn--box" href="about.html") READ MORE
      span(class="material-symbols-outlined") play_arrow
  section(class="topCloudFunding")
    h2.ttl--2 Cloud Funding
    img(class="top__logo" src=imgPath+"/common/logo-cloud-funding.png" alt="クラウドファンディングのロゴ")
