extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div
    img(src=imgPath+"/"+key+"/hero.png" alt="ヒーロー画像")
  section(class="")
    h2.ttl--2 ABOUT
    p 上方謎の園を通して<br>
      | 謎解きの文化を未来に継承する
    div
      img(src=imgPath+"/common/logo.png" alt="ロゴ")
