extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div.hero
    p(class="hero__msg")
      span.line 上方謎の園を通して<br>
        | 謎解きの文化を未来に継承する
    img(class="hero__sensu" src=imgPath+"/top/sensu.png" alt="扇子")
    img(class="hero__logoLarge" src=imgPath+"/top/logo_large.png" alt="上方謎の園ロゴ")
    div.hero__scroll 
      p.hero__scroll__txt
        | SCROLL
      div.hero__scroll__triangle 
  section(class="topAbout")
    img(class="topIcon" src=imgPath+"/common/question.svg" alt="はてな")
    h1.ttl--1 上方謎の園とは
    h2.ttl--2 ABOUT
    div(class="hukidashi")
      p(class="topDesc")
        | 新型コロナの影響により<br>
        span.line 学生による謎解き制作の文化が<br>
        | 失われつつあります。
      p(class="topDesc")
        | 謎解き界隈の未来のためにも、何とか<br>
        span.line 学生主催の謎解きイベントを復活させたい。<br>
        | そんな熱い想いを持った学生たちが集まり<br>
        | 上方謎の園プロジェクトを発足しました。
      a(class="btn--box" href="about.html") READ MORE
        span(class="material-symbols-outlined") play_arrow
  section(class="topCloudFunding")
    img(class="topIcon" src=imgPath+"/common/money.svg" alt="クラウドファンディング")
    h1.ttl--1 クラウドファンディング
    h2.ttl--2 CLOUD FUNDING
    div(class="hukidashi")
      p(class="topDesc")
        | 本イベントは学生主催のため、<br>
        | イベント開催に必要な資金を<br>
        | 全て
        span.line クラウドファンディング
        | にて<br>
        | 調達する計画を立てております。<br>
      p(class="topDesc")
        | イベント開催の条件は、<br>
        span.line 6月末までに70万円を調達すること。<br>
      p(class="topDesc")
        | 各種リターンやゴール金額の内訳などは<br>
        | 以下のボタンからご確認いただけます。<br>
        | どうぞ皆様からの温かいご支援の程<br>
        | よろしくお願いいたします。<br>
      a(class="btn--box" href="about.html") READ MORE
        span(class="material-symbols-outlined") play_arrow
