extends _layout

block vars
  include _config
  - var key = "top"
  - var page = pages[key]

block contents
  div.hero
    p(class="hero__msg")
      | 上方謎の園を通して<br>
      | 謎解きの文化を未来に継承する
    img(class="hero_icon1" src=imgPath+"/top/kamigata_sensu.png" alt="ヒーローアイコン1")
    img(class="hero_icon2" src=imgPath+"/top/kamigata_logotype.png" alt="ヒーローアイコン2")
    p(class="hero__scroll")
      | SCROLL
    div.triangle
  section(class="topAbout")
    h1.ttl--1 上方謎の園とは
    h2.ttl--2 ABOUT
    img(class="topLogo" src=imgPath+"/common/kamigata_logo.png" alt="ロゴ")
    p(class="topDesc")
      | 新型コロナの影響により<br>
      span(class="line") 学生による謎解き制作の文化が<br>
      | 失われつつあります。
    p(class="topDesc")
      | 謎解き界隈の未来のためにも、何とか<br>
      | 学生主催の謎解きイベントを復活させたい。<br>
      | そんな熱い想いを持った学生たちが集まり<br>
      | 上方謎の園プロジェクトを発足しました。
    a(class="btn--box" href="about.html") READ MORE
      span(class="material-symbols-outlined") play_arrow
  section(class="topCloudFunding")
    h1.ttl--1 クラウドファンディング
    h2.ttl--2 CLOUD FUNDING
    img(class="topLogo" src=imgPath+"/common/logo-cloud-funding.png" alt="クラウドファンディングのロゴ")
    p(class="topDesc")
      | 本イベントは学生主催のため、<br>
      | イベント開催に必要な資金を<br>
      | 全てクラウドファンディングにて<br>
      | 調達する計画を立てております。<br>
    p(class="topDesc")
      | イベント開催の条件は、<br>
      | 6月末までに70万円を調達すること。<br>
    p(class="topDesc")
      | どうぞ皆様からの温かいご支援の程<br>
      | よろしくお願いいたします。<br>
