extends _layout

block vars
  include _config
  - var key = "timetable"
  - var page = pages[key]

block contents
  img(class="topIcon" src=imgPath+"/timetable/logo_timetable.png" alt="timetable")
  section
    h1.ttl--1 タイムテーブル
    span.ttl--2 TIMETABLE
    section.timetableContents
      img(src=imgPath+"/timetable/timetable.png" alt="タイムテーブル")
