.about__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0

.icon_staff
  width 22%

.topIcon
  padding-top 7rem

.staff
  margin 5vh 0 8vh 0
  & .staffName
    font-size: 130%

+ls()
  .icon_staff
    width 8%
  .ttl--3
    margin-left 34vw
