.about__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0
  & .topIcon
    padding-top 7rem

.aboutEvent
  padding 3vh 3vw 3vh 3vw
  &__outline
    background-color c-white
    border 0.2rem solid c-txt-1
    border-radius 3%
    margin 5vh auto 0 auto
    max-width 40rem
    padding 2.5rem 1rem 2.5rem
    width 100%

.aboutStaff
  padding 3vh 3vw 1vh 3vw
  &__item
    margin 5vh 0 8vh 0
    &__name
      font-size: 130%
  & img
    width 22%

+ls()
  .about__main .ttl--3
    margin-left 32vw
  .aboutStaff
    & img
      width 8%
