.access__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0
  & iframe
    width 90%
    margin 3vh 0

.accessContents
  margin 5vh 0
  &__sentence
    text-align: left
    margin-left 8vw


+ls()
  .access__main
    & iframe
      width 70%
      margin-bottom 10vh
  .accessContents
    margin 5vh 0
    & .ttl--3
      margin-left 17vw
    &__sentence
      margin-left 18vw
