.access__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0

.topIcon
  width 20%
  padding-top 7rem

.map
  margin 8rem 2rem 2rem
iframe
  width 100%

+ls()
  .map
    margin 10rem 4rem 4rem
  iframe
    width 70%
