.access__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0

.topIcon
  padding-top 7rem

.ttl3
  margin 5vh 0
  & .access_contents
    text-align: left
    margin-left 8vw

iframe
  width 90%
  margin 3vh 0

+ls()
  iframe
    width 70%
    margin-bottom 10vh
  .ttl3
    margin 5vh 0
    & .ttl--3
      margin-left 17vw
    & .access_contents
      margin-left 18vw
