.linebot
  &__main
    padding 6rem 3rem 6rem 8rem
    &__block
      padding 1rem 0
      &__desc
        &__siteName
          color c-txt-2
          font-weight 500
          margin .5rem 0
        &__ttl
          font-weight 500
          margin-bottom 0
        &__stc
          margin 1rem 0
          & a
            text-decoration underline dotted
      &__ss.mark
        margin-top 3rem


+ls()
  .linebot
    &__main
      display grid
      grid-auto-flow row
      grid-column-gap 8rem
      grid-template-columns 1fr 1fr
      padding 12rem 5rem 12rem 14rem
      &__block
        padding 0
        &__desc
          &__details
            margin-bottom 3rem
        &__ss.mark
          margin-top 5rem
