.group__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0
  & .topIcon
    padding-top 7rem

.groupContents
  padding 4vh 3vw 0 3vw
  &__number
    background-color c-txt-1
    color c-white
    display block
    font-size 5vw
    position relative
    left 3%
    margin-bottom 2vh
    width 15vw
    height auto
  &__groupName
    font-size 6vw
    font-weight 500
    letter-spacing 0.2rem
    position relative
    left 3%
    margin 1vh 0 3vh 0
    text-align left
    width 50vw
  &__groupIcon
    left 24vw
    position relative
    top -9.5rem
    width 20vw
  &__info
    margin-top 3rem
  & .hukidashi
    position relative
    top -7rem

+ls()
  .groupContents
    padding 8vh 3vw 0 3vw
    &__number
      font-size 1.5vw
      left 32vw
      margin-bottom 4vh
      width 5vw
    &__groupName
      font-size 2vw
      left 32vw
      width 20vw
    &__groupIcon
      left 9vw
      top -12rem
      width 7vw
    & .hukidashi
        top -9rem
        max-width 45rem
