.group__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0

.topIcon
  width 20%

.groupContents
  padding 5vh 3vw
  &__number
    font-size 2rem
  &__groupName
    font-size 2rem
  & img.groupContents__groupIcon
    width 6rem
