.top__main
  overflow-x hidden
  position relative
  text-align center
  z-index: 0

.hero
  position relative
  z-index -5
  &__msg
    font-size 4.5vw
    letter-spacing: 0.7rem
    line-height: 6.0vh
    padding-left 1rem
    position relative
    text-align left
    top 20%
    transform translateY(-50%)
  & img.hero__sensu
    left: 70%
    position: absolute;
    top: 48%
    transform translate(-50%, -50%)
    width 220%
    z-index -5
  & img.hero__logoLarge
    bottom: 13%
    height: 10%
    left: 50%
    position: absolute;
    transform translate(-50%, -50%)
    width: auto
  &__scroll
    bottom 3rem
    cursor pointer
    left: 50%
    position: absolute;
    z-index -1
    &__txt
      font-size: 2.7vw
      margin .5rem auto
      transform translateX(-50%)
    &__triangle
      border-left: 0.7rem solid transparent
      border-right: 0.7rem solid transparent
      border-top: 1.05rem solid c-txt-1
      height: 0
      transform translateX(-50%)
      width: 0

.contents
  position relative
  padding 1rem 1rem 3rem 1rem
  background-color: c-white
  border-radius 0.5rem
  border 0.2rem solid
  border-color c-txt-1
  &:before
    content ''
    position absolute
    display block
    width 0
    height 0
    border-radius 50%
    transform rotate(45deg)
    right 4rem
    top -2rem
    background-color c-white
    border-left 2rem solid c-txt-1
    border-top 2rem solid c-txt-1
    border-right 2rem solid transparent
    border-bottom 2rem solid transparent
  &:after
    content ''
    position absolute
    display block
    width 0
    height 0
    border-radius 50%
    transform rotate(45deg)
    right 5.5rem
    top -2rem
    background-color c-white
    border-left 2rem solid transparent
    border-top 2rem solid c-white
    border-right 2rem solid transparent
    border-bottom 2rem solid transparent

.topAbout
  padding 5vh 3vw

.topCloudFunding
  padding 5vh 3vw

.topLogo
  width 20%

+ls()
  .hero
    &__msg
      font-size 2vw
      letter-spacing: 1rem
      line-height: 8vh
      padding-left 2rem
    & img.hero__sensu
      left: 80%
      position: absolute;
      top: 50%
      width 120%
