.top__main
  text-align center

.hero
  width 100vw
  height 100vh
  overflow-x hidden
  position relative
  z-index -1
  & img.hero_icon1
    width 220%
    bottom: 20rem
    left: 70%
    position: absolute;
    transform translateX(-50%)
  & img.hero_icon2
    bottom: 16rem
    height: 10%
    left: 50%
    width: auto
    position: absolute;
    transform translateX(-50%)
  &__msg
    font-size 4.5vw
    letter-spacing: 0.7rem
    line-height: 5rem
    position absolute
    text-align left
    top 15rem
    width 100vw
  &__scroll
    bottom 4rem
    font-size: 3.5vw
    position: absolute;
    transform translateX(-50%)
    left: 50%

.triangle
  bottom 2rem
  border-top: 1.5rem solid c-txt-1
  border-right: 1rem solid transparent
  border-left: 1rem solid transparent
  height: 0rem
  left: 50%
  transform translate(-50%, -50%)
  width: 0rem
  position: absolute

.topAbout
  padding 3vw

.topCloudFunding
  padding 0 3vw 3vw

.topLogo
  width 20%

+ls()
  .hero
    &__msg
      top 2rem
