.top__main
  text-align center

.hero
  width 100vw
  height 100vh
  position relative
  z-index -1
  & img.hero_icon1
    width 100%
    padding-top: 30rem
  & img.hero_icon2
    height: 10%
    width: auto
  &__msg
    font-size 8vw
    left 50%
    position absolute
    top 10rem
    transform translateX(-50%)
    width 100vw
  &__scroll
    font-size: 4vw

.triangle
  margin: 0 auto
  height: 0rem
  width: 0rem
  border-top: 15rem solid c-txt-1
  border-right: 10rem solid transparent
  border-left: 10rem solid transparent

.topAbout
  padding 3vw

.topCloudFunding
  padding 0 3vw 3vw

.topLogo
  width 20%

+ls()
  .hero
    &__msg
      top 2rem
