.footer
  background-color: c-txt-1
  bottom: 0
  color: c-bg-1
  font-size 1rem
  left: 0
  letter-spacing 0.15rem
  margin 0
  position absolute
  right: 0
  text-align center

.copyright
  margin 0

+ls()
  .footer
    font-size 1.3rem
