.header
  background-color c-black
  position: sticky
  top: 0
  height calc(12px * 2 + 42px)

.headerLogo
  margin 0
  & img
    height calc(12px * 2 + 42px)
    width auto

.hamburger
  cursor: pointer;
  display : block;
  height: 42px;
  position: fixed;
  right: 13px;
  text-align: center;
  top: 12px;
  width: 42px;
  z-index: 3;
  & span
    background: c-bg-1;
    display: block;
    height: 2px;
    left: 8px;
    position: absolute;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    width : 25px;
    &:nth-child(1)
      top 10px
    &:nth-child(2)
      top 20px
    &:nth-child(3)
      top 30px
  /* ナビ開いてる時のボタン */
  &.active
    & span
      &:nth-child(1)
        background: c-bg-1;
        left: 8px;
        top: 19px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
      &:nth-child(2),
      &:nth-child(3)
        background: c-bg-1;
        top: 19px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);

.hamburgerMenu
  background: c-gold;
  color: c-txt-1;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: calc(12px * 2 + 42px);
  transition: opacity .6s ease, visibility .6s ease;
  width: 100%;
  z-index: 2;
  & ul
    margin: 0 auto;
    padding: 0;
    width: 100%;
    & li
      list-style-type: none;
      padding: 0;
      width: 100%;
      transition: .4s all;
      &:last-child
        padding-bottom: 0;
      &:hover
        background: c-yellow;
      & a
        color: c-txt-1;
        display: block;
        padding: 2em 0;
        text-decoration :none;
  /* このクラスを、jQueryで付与・削除する */
  &.active
    opacity: 100;
