.load
  inset: 0
  position: absolute;
  z-index: 9999

.visited
  display: none

.maku
  inset: 0
  position: absolute
  &__left
    bottom: 0
    position: absolute
    right: 50%
    top: 0
    &.move
      animation: moveLeft 2s forwards
  &__right
    bottom: 0
    left: 50%
    position: absolute
    top: 0
    &.move
      animation: moveRight 2s forwards
  & img
    height: 100%

@keyframes moveLeft {
  100% {
    transform: translateX(-100%)
  }
}
@keyframes moveRight {
  100% {
    transform: translateX(100%)
  }
}

.progress
  background-color c-bg-1
  inset: 0
  position: absolute
  &__logo
    left: 50%
    position absolute
    top: 45%
    transform: translate(-50%, -50%)
    width 50vw
  &__bar
    background-color c-navy
    height: 1rem
    left: 50%
    position absolute
    top: 60%
    transform: translate(-50%, -50%)
    width: 70vw
    &__now
      background-color c-red
      height 100%
      position absolute
      top: 0
      width 0

+ls()
  .progress
    &__logo
      width 20vw
    &__bar
      width 40vw
