ErrorDocument 503 /maintenance.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} !=/maintenance.html
  RewriteCond %{REMOTE_ADDR} !=131.213.110.120
  RewriteRule ^.*$ - [R=503,L]
</IfModule>

<IfModule mod_headers.c>
  # 日本時間-9する
  # 6/17 9:00
  Header set Retry-After "Fri, 17 Jun 2021 0:00:00 GMT"
</IfModule>
